.listDrawer:hover {
  color: rgb(255, 255, 255);
  background-color: #1976d2;
}
.itemProd:hover {
  color: rgb(255, 255, 255);
  background-color: #1976d2;
}
#demo-customized-button:hover,
.ofBtn:hover {
  background-color: #5587b8d1;
}
#demo-customized-button::before,
.ofBtn::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px; /* Grosor de la línea */
  background-color: rgb(225, 225, 230); /* Color de la línea */
  bottom: 0;
  left: 0;
  transition: width 0.3s ease; /* Animación de 0.3 segundos */
}
#demo-customized-button:hover::before,
.ofBtn:hover::before {
  width: 100%;
  right: 0;
  left: auto;
}
.searchIcon {
}
#logoNav {
  display: flex;
  height: 40px;
  width: 85px;
  margin-right: 15px;
}
#imgLogo {
  width: auto;
  height: 125px;
  border-radius: 50%;
}

/* ----------------Interfaz de Cuenta----------------- */
.btnClose {
  transition: transform 0.3s;
}
.btnClose:hover {
  transform: rotate(90deg);
}
.btnFClose:hover {
  background-color: rgb(198, 2, 2);
}
.termLink {
  text-decoration: none;
}

.termLink:hover {
  text-decoration: underline;
}

.cursor {
  user-select: none;
  cursor: default;
}
.actionGrid {
  margin: 10px 10px;
}
.loginCuenta {
  text-align: center;
  margin-bottom: 12px;
  margin-top: 12px;
}
.google-btn {
  background-color: #eceff1;
  border-color: #4285f4;
  color: #4285f4;
  text-transform: none;
  /* padding: 10px 24px; */
  /* border-radius: 5px; */
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.google-btn:hover {
  background-color: #dde3e9;
}

.google-btn:active {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.submit-btn {
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  box-shadow: none;
  transition: 0.3s; /* Añade una transición para un efecto suave */
}

.submit-btn.enabled {
  background-color: #00468c;
  box-shadow: 0 3px 5px 2px rgba(0, 70, 140, 0.3);
}

.submit-btn.disabled {
  background-color: #d3d3d3;
}

.submit-btn.enabled:hover {
  background-color: #003366; /* Un azul un poco más oscuro para el hover */
}

.submit-btn.enabled:active {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.btnSesion {
  margin-top: 10px;
  /* padding: 9px 20px; */
}

/* ------------------------------------------------- */
